<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>KSQD</name>
    <description>KSQD App</description>
    <author email="keith@ksqd.org" href="https://ksqd.org">
        KSQD Cordova Team
    </author>
    <content src="index.html" />
    <access origin="https://spinitron.com" />
	<access origin="https://ksqd.org" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <icon src="www/ksqd-logo.png" />
	<platform name="android">
		<preference name="AndroidWindowSplashScreenAnimatedIcon" value="www/ksqd-splash.png" />
	</platform>
    <allow-navigation href="https://ksqd.org/*" />
    <allow-navigation href="https://ksqd.dm.networkforgood.com/*" />
    <allow-navigation href="https://*.spinitron.com/*" />
</widget>
